<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Phoenix_Play.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Phoenix_Play.Properties.Settings>
            <setting name="PrimoAvvioDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PercorsoInstallazioneGiochi" serializeAs="String">
                <value />
            </setting>
            <setting name="Lingua" serializeAs="String">
                <value />
            </setting>
            <setting name="PrimoAvvioDownloadFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PercorsoInstallazioneSteamToolsFile" serializeAs="String">
                <value />
            </setting>
        </Phoenix_Play.Properties.Settings>
    </userSettings>
</configuration>